<!-- frontend/src/app/modules/students/student-list/student-list.component.html -->
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Liste des Étudiants</h3>
      <button class="btn btn-primary float-right" (click)="createStudent()">
        Ajouter un étudiant
      </button>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Formation</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.formation }}</td>
            <td>
              <button
                class="btn btn-info btn-sm"
                (click)="viewStudent(student.id)"
              >
                Voir
              </button>
              <button
                class="btn btn-warning btn-sm"
                (click)="editStudent(student.id)"
              >
                Modifier
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteStudent()">
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
