<!-- src/app/shared/components/sidenav/sidenav.component.html -->
<mat-nav-list>
  <div class="sidenav-header">
    <div class="logo-container">
      <img
        src="assets/images/logo.png"
        alt="University Logo"
        class="university-logo"
      />
    </div>
    <h3 class="sidenav-title">UNIVERSITE CHEIKH HAMIDOU KANE</h3>
    <div class="user-info">
      <p *ngIf="currentUser">Bienvenue, {{ currentUser.username }}!</p>
      <p *ngIf="currentUser" class="role-tag">{{ currentUser.role }}</p>

  <mat-divider></mat-divider>

  <ng-container *ngFor="let item of navItems">
    <a
      mat-list-item
      *ngIf="isAllowed(item)"
      [routerLink]="item.route"
      routerLinkActive="active-link"
      (click)="navigateTo(item.route)"
    >
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </ng-container>
</mat-nav-list>
